#통합 책 추천 시스템

- 고정 userid = 88705 / 254321 / 182459 / 161936 / 226482 / random 1 : 121184/ random 2 -> 204167
/ 제일 부정적인 사용자
- 10가지의 방식을 활용하여 user에게 추천한다.

1. 베스트셀러/작가 - 허재훈
1. 베스트셀러/지역 - 백경관
1. 콘텐츠베이스 - 책 제목 - 송도훈
1. 협력필터링 / KNN-cosine 3가지 방식 - 허재훈
1. 행렬분해 / SVD latent 150 - 허재훈
1. 행렬분해 / NMF - 송도훈
1. 행렬분해 / ALS - 허재훈

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
book_rating = pd.read_csv('/content/drive/MyDrive/bx/BX-Book-Ratings.csv',
                          sep = ';', encoding = 'latin_1', error_bad_lines = False)
book_rating.drop(index = book_rating[book_rating['Book-Rating'] == 0].index, inplace = True) #평점 0점은 결측치 처리
book_rating

<ipython-input-3-e9cc15fc3536>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  book_rating = pd.read_csv('/content/drive/MyDrive/bx/BX-Book-Ratings.csv',

         User-ID         ISBN  Book-Rating
1         276726   0155061224            5
3         276729   052165615X            3
4         276729   0521795028            6
6         276736   3257224281            8
7         276737   0600570967            6
...          ...          ...          ...
1149773   276704   0806917695            5
1149775   276704   1563526298            9
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[433671 rows x 3 columns]

In [ ]:
book_info = pd.read_csv('/content/drive/MyDrive/bx/BX-Books.csv',
                        sep = ';', encoding = 'latin_1', error_bad_lines = False)
# 불필요한 URL, 출판사 값 버리기
book_info.drop(columns = ['Image-URL-S','Image-URL-M', 'Image-URL-L', 'Publisher'], inplace = True)
book_info

<ipython-input-4-9cc67933f6d9>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  book_info = pd.read_csv('/content/drive/MyDrive/bx/BX-Books.csv',
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
<ipython-input-4-9cc67933f6d9>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book_info = pd.read_csv('/content/drive/MyDrive/bx/BX-Books.csv',

,ISBN,Book-Title,Book-Author,Year-Of-Publication
0,0195153448,Classical Mythology,Mark P. O. Morford,2002
1,0002005018,Clara Callan,Richard Bruce Wright,2001
2,0060973129,Decision in Normandy,Carlo D'Este,1991
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999
...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988
271356,0525447644,From One to One Hundred,Teri Sloat,1991
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004
271358,0192126040,Republic (World's Classics),Plato,1996
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000

In [ ]:
# 결측치가 매우 소수의 행에 존재하므로 결측치가 있는 행만 제거 - 도훈님 코드
book_info.dropna(inplace=True)
book_info.reset_index(drop=True, inplace=True)
book_info

,ISBN,Book-Title,Book-Author,Year-Of-Publication
0,0195153448,Classical Mythology,Mark P. O. Morford,2002
1,0002005018,Clara Callan,Richard Bruce Wright,2001
2,0060973129,Decision in Normandy,Carlo D'Este,1991
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999
...,...,...,...,...
271354,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988
271355,0525447644,From One to One Hundred,Teri Sloat,1991
271356,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004
271357,0192126040,Republic (World's Classics),Plato,1996
271358,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000

In [ ]:
book_user = pd.read_csv('/content/drive/MyDrive/bx/BX-Users.csv', sep = ';', encoding = 'latin_1', error_bad_lines = False)
book_user

<ipython-input-4-e195780cffae>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  book_user = pd.read_csv('/content/drive/MyDrive/bx/BX-Users.csv', sep = ';', encoding = 'latin_1', error_bad_lines = False)

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [ ]:
book_user[book_user['User-ID'] == 88705]

       User-ID               Location  Age
88704    88705  put-in-bay, ohio, usa  NaN

##유저 분석

###가장 나쁜 평점을 준 랜덤유저1(총 평점갯수 대비)

In [ ]:
bad_rate_user = book_rating[book_rating['Book-Rating'] < 4] #평점 4점 이하인 유저
bad_rate_arr = bad_rate_user['User-ID'].value_counts().loc[lambda x : x >=20] #평점 갯수가 20개 이상인 유저

a = list(bad_rate_arr.index)
b = list(bad_rate_arr)
bad_rate_dict = {}

for id, count in zip(a,b): #딕셔너리 형태로 분류
    bad_rate_dict[id] = count
bad_rate_dict

{11676: 462,
 264321: 54,
 76499: 38,
 35836: 33,
 23872: 29,
 35859: 28,
 229551: 27,
 248718: 26,
 218552: 26,
 204167: 25,
 157247: 25,
 236757: 24,
 38273: 23,
 89891: 20,
 233911: 20}

In [ ]:
bad_ratio = []

for x in bad_rate_arr.index: # 위 딕셔너리의 키값과 동일
    num = book_rating[book_rating['User-ID']==x]['User-ID'].count() #해당 유저의 총 평점 갯수
    bad_ratio.append(round(bad_rate_dict[x]/num, 5)) #나쁜 평점 수 / 총 평점 수
bad_ratio # 해당 사용자의 평점 중, bad 평점의 비율

[0.0542,
 0.18947,
 0.03668,
 0.30556,
 0.05709,
 0.03378,
 0.18367,
 0.02743,
 0.1844,
 0.52083,
 0.10163,
 0.12698,
 0.07372,
 0.1,
 0.15748]

In [ ]:
bad_ratio_df = pd.DataFrame(bad_ratio, index = bad_rate_arr.index)
bad_ratio_df
# 204167 유저가 남긴 평점 대비 가장 부정적인 평점을 남긴 사람이다.

              0
11676   0.05420
264321  0.18947
76499   0.03668
35836   0.30556
23872   0.05709
35859   0.03378
229551  0.18367
248718  0.02743
218552  0.18440
204167  0.52083
157247  0.10163
236757  0.12698
38273   0.07372
89891   0.10000
233911  0.15748

In [ ]:
#204167 유저의 평점 확인
user_204167_rate = book_rating[book_rating['User-ID']==204167]
user_204167_rate.sort_values('Book-Rating',ascending = False)

        User-ID        ISBN  Book-Rating
843204   204167  067173685X            8
843203   204167  0671736809            8
843182   204167  067102020X            7
843044   204167  0373709277            7
843115   204167  0441003389            6
843234   204167  1551660717            5
843017   204167  0373034091            5
843112   204167  0440241057            5
843102   204167  0425158624            5
843146   204167  0451400933            5
843214   204167  0743410262            5
843236   204167  1551665999            5
843069   204167  0373970471            5
843057   204167  0373709439            5
843042   204167  0373709161            5
843075   204167  0380718774            4
843154   204167  0515120014            4
843150   204167  0505523647            4
843117   204167  0445204486            4
843193   204167  0671504703            4
843034   204167  0373482957            4
843137   204167  0451178734            4
843144   204167  0451203585            4
843148   204167  0505520095            3
843195   204167  0671676563            3
843179   204167  0590432036            3
843197   204167  0671690566            3
843198   204167  0671690574            3
843196   204167  0671688073            3
843207   204167  0671743902            3
843170   204167  055327211X            3
843122   204167  0446364282            3
843200   204167  0671690590            3
843208   204167  0671745077            3
843109   204167  0440205212            3
843209   204167  0671745107            3
843066   204167  0373802056            3
843199   204167  0671690582            3
843002   204167  0345386647            2
843178   204167  0590424564            2
843118   204167  0446305901            2
843090   204167  0380897822            2
843238   204167  1551666022            2
843180   204167  0590474804            1
843119   204167  0446328138            1
843077   204167  0380753014            1
843076   204167  0380750872            1
843071   204167  0380005255            1

### 평균 이하의 평점 갯수를 준 랜덤 유저2(사실은 한국인 중 가장 많은 평점을 준사람)

In [ ]:
korea_user_id = book_user[book_user['Location'].str.contains('korea')]['User-ID']
korea_user_id

5594        5595
6353        6354
6658        6659
7750        7751
10335      10336
           ...
273775    273776
273790    273791
273798    273799
275278    275279
275845    275846
Name: User-ID, Length: 236, dtype: int64

In [ ]:
book_rating[book_rating['User-ID'].isin(korea_user_id)].value_counts('User-ID')[:5]

User-ID
121184    7
47465     6
156264    4
133052    4
129655    3
dtype: int64

In [ ]:
user_121184_rate = book_rating[book_rating['User-ID']==121184] #한국에서 가장 많이 평점을 준
user_121184_rate

        User-ID         ISBN  Book-Rating
501233   121184   0312995423           10
501234   121184   0399138250            9
501235   121184   0399147888           10
501236   121184   0425133516            9
501242   121184  05151324809           10
501243   121184   0515136565            8
501246   121184   0895261480           10

#ALS 방식

In [ ]:
book_rating_info = pd.merge(book_rating, book_info[['ISBN', 'Book-Title']], on = 'ISBN')
book_rating_info #book_rating에 title 추가하기

,User-ID,ISBN,Book-Rating,Book-Title
0,276726,0155061224,5,Rites of Passage
1,276729,052165615X,3,Help!: Level 1
2,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...
3,276744,038550120X,7,A Painted House
4,11676,038550120X,10,A Painted House
...,...,...,...,...
383836,276688,0425156737,2,Graven Images
383837,276688,0671563149,6,MUDDY WATER (Peter Bartholomew Mysteries)
383838,276688,1575660792,7,Gray Matter
383839,276704,0380796155,5,White Abacus
383840,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...

In [ ]:
# 행렬 대입전 전처리 과정

user_ids = book_rating_info["User-ID"].unique().tolist()

user2idx_dict = {x: i for i, x in enumerate(user_ids)}
idx2user_dict = {i: x for i, x in enumerate(user_ids)}

book_ids = book_rating_info["ISBN"].unique().tolist()

book2idx_dict = {x: i for i, x in enumerate(book_ids)}
idx2book_dict = {i: x for i, x in enumerate(book_ids)}

book_rating_info["user_idx"] = book_rating_info["User-ID"].map(user2idx_dict)
book_rating_info["book_idx"] = book_rating_info["ISBN"].map(book2idx_dict)

num_users = book_rating_info["User-ID"].nunique()
num_books = book_rating_info["ISBN"].nunique()
print(num_users, num_books)

book_rating_info = book_rating_info.sort_values(['user_idx', 'book_idx'])
book_rating_info = book_rating_info.reset_index(drop=True)
book_rating_info

68091 149835

,User-ID,ISBN,Book-Rating,Book-Title,user_idx,book_idx
0,276726,0155061224,5,Rites of Passage,0,0
1,276729,052165615X,3,Help!: Level 1,1,1
2,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,1,2
3,276744,038550120X,7,A Painted House,2,3
4,11676,038550120X,10,A Painted House,3,3
...,...,...,...,...,...,...
383836,276660,0583307841,8,ROBOT RACE (MICRO ADV 6),68089,149803
383837,276664,0004703723,9,Dictionary Of Economics-2Nd Ed,68090,149804
383838,276664,0140136908,7,History of Economic Thought (Penguin Economics),68090,149805
383839,276664,0631189629,9,British Social Policy Since 1945 (Making Conte...,68090,149806
383840,276664,0747205051,7,Murderous Women: True Talesof W,68090,149807

In [ ]:
!pip install implicit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: implicit in /usr/local/lib/python3.9/dist-packages (0.6.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from implicit) (1.22.4)
Requirement already satisfied: scipy>=0.16 in /usr/local/lib/python3.9/dist-packages (from implicit) (1.10.1)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.9/dist-packages (from implicit) (4.65.0)

##타겟 유저 설정

In [ ]:
als_target_user_id = 121184

In [ ]:
from scipy.sparse import coo_matrix, linalg
from scipy.sparse import csr_matrix
from implicit.als import AlternatingLeastSquares as ALS

rating_sparse_arr = coo_matrix((book_rating_info['Book-Rating'],
                                (book_rating_info['user_idx'],
                                 book_rating_info['book_idx'])),
                               shape = (num_users, num_books)) #희소행렬로 만들기
print("shape 체크해보기")
print("coo shape : ",rating_sparse_arr.shape)
rating_sparse_arr = csr_matrix(rating_sparse_arr) #csr 형식으로 변환
print("csr shape : ",rating_sparse_arr.shape)

als_model = ALS(factors=20, regularization=0.5, iterations=20) #als 모델 적용(교차 검증으로 최적값 찾아야함.)
als_model.fit(rating_sparse_arr) #행렬값 학습

als_target_user_df = book_rating_info[book_rating_info['User-ID'] == als_target_user_id]
als_target_user_idx = als_target_user_df.user_idx.iloc[0]
als_target_user_idx = [als_target_user_idx] #타겟 유저 id값을 user_idx로 변환(리스트 형태)

# ALS 모델의 recommend를 활용하기.
recommended_items = als_model.recommend(als_target_user_idx, rating_sparse_arr[als_target_user_idx], N=20)
# recommend(추천할 대상 유저의 위치정보, 추천 알고리즘을 적용할 items, 추천받을 책의 갯수)
# 여기서 N은 추천받을 책의 갯수

shape 체크해보기
coo shape :  (68091, 149835)
csr shape :  (68091, 149835)

  0%|          | 0/20 [00:00<?, ?it/s]

In [ ]:
#교차검증 이전이므로 성능이 좋진않다. rec_rating값을 올려줘야함.

als_rec_df = pd.DataFrame(list(recommended_items[0][0]), columns = ['book_idx'], dtype = 'int')
als_rec_df['rec_rating'] = list(recommended_items[1][0])
als_rec_df

    book_idx  rec_rating
0        676    0.175225
1        149    0.169915
2       3074    0.129014
3        324    0.111853
4       1328    0.098080
5       4080    0.091286
6       4869    0.083059
7       5061    0.082621
8        451    0.081206
9       3469    0.080284
10      3589    0.078912
11      1753    0.077167
12      4079    0.076768
13      5833    0.076157
14       557    0.073724
15      1031    0.069876
16      3217    0.068430
17       943    0.068112
18       910    0.062770
19      1736    0.062318

In [ ]:
als_rec_book_idx = list(als_rec_df.book_idx)

In [ ]:
# 유저가 읽은 'Book-Title' 설정
seen_book = list(set(als_target_user_df['Book-Title'].to_list()))

In [ ]:
rec_index = list(als_rec_book_idx) #추천하는 책의 인덱스
count = 0
target_unseen_rec_list = [] # 타겟 유저가 읽지 않은 책의 인덱스를 담을 리스트

for idx in rec_index:
    title = list(book_rating_info[book_rating_info['book_idx'] == idx]['Book-Title'])[0] #idx의 제목 반환
    if count >= 5: #추천은 5권까지만 받자.
        break
    if title not in seen_book: # 안본 책 체크
        target_unseen_rec_list.append(idx)
        count += 1
target_unseen_rec_list # book_idx 값이다.

[676, 149, 3074, 324, 1328]

##결론 도출

In [ ]:
als_target_user_id

121184

In [ ]:
#TOP 1
top1_rec_df = book_rating_info[book_rating_info['book_idx']==target_unseen_rec_list[0]]
top1_rec_df = top1_rec_df[['ISBN','Book-Title']]
top1_rec_df.head(1) #보기편하게 head로 처리

            ISBN           Book-Title
7429  0671027360  Angels &amp; Demons

In [ ]:
#TOP 2
top2_rec_df = book_rating_info[book_rating_info['book_idx']==target_unseen_rec_list[1]]
top2_rec_df = top2_rec_df[['ISBN','Book-Title']]
top2_rec_df.head(1)#보기편하게 head로 처리

          ISBN         Book-Title
26  0385504209  The Da Vinci Code

In [ ]:
#TOP 3
top3_rec_df = book_rating_info[book_rating_info['book_idx']==target_unseen_rec_list[3]]
top3_rec_df = top3_rec_df[['ISBN','Book-Title']]
top3_rec_df.head(1)#보기편하게 head로 처리

          ISBN   Book-Title
57  0440241073  The Summons